[submodule "cloudflare--api-schemas"]
	path = submodules/cloudflare--api-schemas
	url = https://github.com/cloudflare/api-schemas.git
[submodule "cleancut--ultimate-rust-crash-course"]
	path = submodules/cleancut--ultimate-rust-crash-course
	url = https://github.com/CleanCut/ultimate_rust_crash_course.git
[submodule "sanjeed5--awesome-cursor-rules-mdc"]
	path = submodules/sanjeed5--awesome-cursor-rules-mdc
	url = https://github.com/sanjeed5/awesome-cursor-rules-mdc.git
[submodule "schemastore--schemastore"]
	path = submodules/schemastore--schemastore
	url = https://github.com/SchemaStore/schemastore.git
[submodule "just3ws--nerd-font-cheatsheets"]
	path = submodules/just3ws--nerd-font-cheatsheets
	url = https://github.com/just3ws/nerd-font-cheatsheets.git
