# If you use POSTGRES_HOST_AUTH_METHOD="trust" then you don't need to set
# a value for POSTGRES_PASSWORD. This does, however, disable all security!

# POSTGRES_PASSWORD=""
POSTGRES_HOST_AUTH_METHOD="trust"